html {
    box-sizing: border-box;
}

header {
    display: inline-flex;
    margin-top: -15px;
    width: 100%;
    align-items: center;
    height: 64px;
}

.logo {
    display: inline-flex;
    margin-left: 24px;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    height: auto;
}

.logo img {
    height: 60px;
    width: 40px;
}

.logo .text {
    font-size: 32px;
    font-weight: 600;
    padding-right: 2px;
}

.logo .text2 {
    font-size: 32px;
    font-weight: 400;
}

.banner {
    display: flex;
    background-color: grey;
}

.navbar {
    width: 100%;
    display: inline-flex;
    font-family: "open-sans", sans-serif;
    justify-content: flex-end;
    margin-top: 20px;
}

.navbar ul {
    display: inline-flex;
    text-align: right;
    align-items: center;
    justify-content: flex-start;
}

.navbar li {
    display: inline-flex;
    justify-content: center;
    padding-right: 12px;
    align-items: center;
}