/* Global */

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Header and Nav Bar */

header {
    display: inline-flex;
    margin-top: -15px;
    width: 100%;
    align-items: center;
    height: 64px;
}

.logo {
    display: inline-flex;
    margin-left: 24px;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    margin-top: 20px;
    padding-top: 0px;
    width: 100%;
    height: auto;
}

.logo img {
    height: 60px;
    width: 40px;
}

.logo .text {
    font-size: 32px;
    font-weight: 600;
    padding-right: 2px;
}

.logo .text2 {
    font-size: 32px;
    font-weight: 400;
    color: grey;
}

.banner {
    display: flex;
    background-color: lightgrey;
}

.navbar {
    width: 100%;
    display: inline-flex;
    font-family: "open-sans", sans-serif;
    justify-content: flex-end;
    margin-top: 20px;
}

.navbar ul {
    display: inline-flex;
    text-align: right;
    align-items: center;
    justify-content: flex-start;
}

.navbar li {
    display: inline-flex;
    justify-content: center;
    padding-right: 12px;
    align-items: center;
}

.banner {
    font-family: "Open Sans", sans-serif;
    background-color: rgba(128, 128, 128, 0.63);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    width: 60%;
    margin: 32px 24px;
}

.banner h1 {
    color: black;
    font-size: 48px;
}

.banner h4 {
    color: black;
    font-size: 28px;
}

.banner .caption {
    display: inline-block;
    margin: 0px 24px;
    opacity: 0.7;
}

.banner button {
    background-color: black;
    border: none;
    color: white;
    padding: 8px 0 8px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 80%;
    height: 60px;
    transition-duration: 0.2s;
  }

button:hover {
    opacity: 0.8;
}

/* Information Section */

.information {
    display: flex;
    width: 100%;
    padding-bottom: 32px;
}

.informationLeft {
    width: 60%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 32px 12px 32px 24px;
}

.informationLeft img {
    width: 98%;
    margin-bottom: 32px;
}

.informationLeft h1, .informationLeft h4, .informationLeft p {
    padding-bottom: 24px;
    padding-right: 10px;
}

.informationRight {
    padding: 16px 0 32px 0;
    width: 40%;
    border-left: solid lightgrey 1px;
}


.orientation, .campus, .guest {
    display: flex;
    padding: 16px;
}

.orientation img, .campus img, .guest img {
    width: 35%;
    height: auto;
    margin-right: 16px;

}

.orientation .captions {
    width: 65%;
    padding: 8px;
}

.guest {
    background-color: lightgrey;
}

.orientation {
    border-bottom: solid lightgrey 1px;
}

.campus {
    border-top: solid lightgrey 1px;
}

.readmore {
    color: rgb(16, 16, 192);
    text-decoration: underline;
    transition-duration: 0.1s;
}

.readmore:hover {
    opacity: 0.8;
}

/* Learning Section */

.learning {
    background-color: lightgrey;
    padding: 2rem 3.5rem 5rem 3.5rem;

}

.learning h1 {
    text-align: center;
}

.learning .subject {
    width: 30%;
    background-color: white;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 1rem;
}

.learning .topRow, .learning .bottomRow {
    display: flex;
    flex-direction: row;
}

.learning .topRow {
    margin-bottom: 2rem;
}

.learning .subject img {
    width: 100%;
}

.learning .subject h2, .learning .subject h5, .learning .subject p {
    padding: 1rem;
}

.learning .subject h5, .learning .subject p {
    font-weight: 400;
    opacity: 0.75;
}

.learning .subject h5 {
    font-size: 125%;
}

.learning .subject p {
    padding-bottom: 24px;
}

/* Thesis Section */

.thesis {
    display: flex;
    width: 100%;
    padding-bottom: 32px;
    border-bottom: solid lightgrey 1px;
}
 h1 {
    text-align: center;
    padding: 32px 0;
}

.thesis .vidContainer {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 24px;
}

.vidContainer video {
    width: 98%;
    height: auto;
}

.vidDesc {
    width: 95%;
    text-align: left;
    padding-bottom: 32px;
}

.vidDesc p {
    font-size: 1.25rem;
}

.thesisRight {
    width: 40%;
}

.fisma, .newYork {
    display: flex;
    padding: 16px;
}

.fisma img, .newYork img {
    width: 35%;
    height: auto;
    margin-right: 16px;
}

.thesis .captions {
    width: 65%;
    padding: 8px;
}

.fisma {
    background-color: lightgrey;
}

footer {
    display: flex;
    justify-content: space-between;
}

.copyright, .terms {
    font-weight: 400;
    font-size: 1rem;
}

/* Responsive MQ Section */

/* Mobile */

@media only screen and (max-width: 480px) {

    header {
        height: 64px;
    }
    
    .logo .text, .logo .text2 {
        display: hidden;
    }

    .navbar {
        font-size: 0;
    }

    .banner {
        flex-direction: column;
    }
    
    .banner img {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .banner .caption {
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 16px;
    }

    .banner button {
        margin: 32px auto;
        align-self: center;
    }
    
    footer .terms {
        font-size: 0;
    }

    footer {
        justify-content: space-around;
    }
}

/* Tablet Portrait */

@media only screen and (max-width: 960px) {
    header {
        height: 64px;
    }
    
    .logo .text, .logo .text2 {
        display: hidden;
    }

    .navbar {
        font-size: 0;
    }

    footer .terms {
        font-size: 0;
    }

    footer {
        justify-content: space-around;
    }
}

/* Tablet Landscape */

@media only screen and (max-width: 1024px) {

}