/* Global Styles */ 
* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgb(48, 48, 48);
}

/* Header and Nav */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 64px;
    border-bottom: solid grey 1px;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
}

.logo-wrapper .title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
}

.logo-wrapper .title-2 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2rem;
}

.logo-wrapper img {
    height: 6vh;
}

.nav ul {
    list-style: none;
    display: flex;
    flex: row nowrap;
    align-items: center;
    padding-right: 24px;
    justify-content: space-between;
}

.nav li {
    font-size: 1rem;
    padding-right: 16px;
}

.nav ul a {
    text-decoration: none;
    color: rgb(48, 48, 48);
    transition: font-size .5s;
}

.nav ul a:hover {
    font-size: 1.25rem;
}

.nav ul .icon {
    display: none;
    width: 6vw;
    height: 6vh;
}

/* Start Learning Section */

#main-container {
    display: flex;
    background-color: lightgrey;
    background-size: cover;
    background-repeat: no-repeat;
}

#main-container .left-container {
    padding: 32px 24px;
    width: 60%;
}

#main-container .left-container img {
    width: 100%;
}

#main-container .right-container {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#main-container .right-container h1 {
    font-size: 3rem;
}

#main-container .right-container p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 8px;
}

#main-container .right-container button {
    color: white;
    background-color: rgb(48, 48, 48);
    height: 8vh;
    transition: opacity 0.2s;
}

#main-container .right-container button:hover {
    opacity: 0.8;
}

#main-container .right-container h1, p, button {
    margin-left: 24px;
    width: 80%;
}

/* Information Section */

#information-container {
    display: flex;
    background-color: white;
}

#information-container .info-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#information-container .info-left img {
    width: 100%;
    padding: 32px 24px;
}

#information-container .info-left h2 {
    font-size: 3rem;
    font-weight: 800;
    padding-left: 24px;
    width: 99%;
}

#information-container .info-left .quote {
    font-size: 1.5rem;
    padding: 0;
    width: 98%;
}

#information-container .info-left .credit {
    font-size: 1.5rem;
    font-weight: 600;
}

#information-container .info-right {
    width: 40%;
    padding: 16px 0 32px 0;
    border: solid lightgrey 1px;
    align-items: center;
    justify-content: center;
}

#information-container .info-right img {
    width: 35%;
    height: auto;
    margin-right: 16px;
}

#information-container .info-right .mobile-img {
    display: none;
}

#information-container .info-right .captions {
    width: 65%;
    padding: 8px;
}

#information-container .info-right h2 {
    font-size: 1.75rem;
}

#information-container .info-right p {
    margin-left: 0px;
}

.orientation, .campus, .guest {
    display: flex;
    padding: 16px;
}

.guest {
    background-color: lightgrey;
}

.orientation {
    border-bottom: solid lightgrey 1px;
}

.campus {
    border-top: solid lightgrey 1px;
}

.readmore {
    color: rgb(16, 16, 192);
}

.readmore:hover {
    opacity: 0.8;
}


/* Media Queries */

@media only screen and (max-width: 430px) {
    .header-wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    .logo-wrapper .title, .title-2 {
        display: none;
    }

    .logo-wrapper img {
        width: auto;
        height: auto;
    }

    .nav {
        width: 100%;
    }
    
    .nav ul li {
        display: none;
    }

    .nav ul .icon {
        display: block;
        align-items: center;
        width: auto;
        height: auto;
        transition: width .5s;
    }

    .nav ul .icon:hover {
        width: 20%;
    }

    #main-container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #main-container .left-container {
        width: 100%;
        padding-top: 0;
        padding-bottom: 32px;
        padding-left: 0;
        padding-right: 0;
    }

    #main-container .right-container {
        flex-direction: column;
        width: 100%;
        margin-top: 0;
        justify-content: center;
    }

    #main-container .right-container h1 {
        margin-top: 0;
    }

    #main-container .right-container button {
        margin-bottom: 32px;
    }

    #information-container .info-left {
        display: none;
    }
    #information-container .info-right {
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }

    #information-container .info-right .mobile-img {
        display: block;
        width: 100%
    }

    #information-container .info-right img {
        display: none;
    }

    #information-container .info-right .captions {
        width: 100%;
        display: block;
    }

    #information-container .info-right .orientation, .campus, .guest {
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (max-width: 1020px) {
    .header-wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    .logo-wrapper .title, .title-2 {
        display: none;
    }

    .logo-wrapper img {
        width: auto;
        height: auto;
    }

    .nav {
        width: 80%;
    }
    
    .nav ul li {
        display: none;
    }

    .nav ul .icon {
        display: block;
        align-items: center;
        width: auto;
        height: auto;
        transition: width .5s;
    }

    .nav ul .icon:hover {
        width: 20%;
    }
}

@media only screen and (max-width: 1000px) {
    

} 